<div id="wrapper">
    <div class="container body">
        <div class="main_container">
            <div ng-include src="loadSidebarTemplate"></div> 
            <!-- top -->
            <div ng-include src="loadHeaderTemplate"></div> 
            <!-- main content -->
            <div class="right_col" role="main">                     
                <div class="">                        
                    <div class="row">
                        <div class="x_panel ">
                            <div class="x_content"> 
                                <div class="row" >            
                                    <div class="col-md-3">                    
                                        <label>Từ: </label>                        
                                        <div class='input-group date datepicker' id="fromdate" data-date-format="dd-mm-yyyy" ng-required="false">
                                            <input type='text' class="form-control"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Đến: </label>
                                        <div class='input-group date datepicker' id="todate" data-date-format="dd-mm-yyyy">
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label style = "color: white;">search</label>
                                        <div>
                                            <button type="button" class="btn btn-success" ng-click="search()"><i class="fa fa-search btn-success"></i> Tìm kiếm </button>  
                                        </div>
                                    </div>  
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-xs-4 col-sm-4 col-md-offset-8 col-xs-offset-8 col-sm-offset-8 mrtop30" align="right">
                                        <label>Số dòng hiển thị </label>
                                        <select ng-model="totalOpenBoxPerPage" name = "totalOpenBoxPerPage" ng-options="openbox for openbox in totalOpenBoxPerPageList" ng-change="changePageSize()"></select>
                                        <label>/Trang</label>
                                    </div>
                                </div> 
                                <div class="table-responsive">
                                    <table id="tblExportToXls" class="table table-bordered table-hover table-condensed table-striped jambo_table">
                                        <thead>
                                            <tr>                
                                                <th class="col-md-1 col-sm-1 col-xs-1">STT</th>
                                                <th class="col-md-2 col-sm-2 col-xs-2">Box ID</th>
                                                <th class="col-md-2 col-sm-2 col-xs-2">Cabinet ID</th>
                                                <th class="col-md-3 col-sm-3 col-xs-3">Code Open</th>
                                                <th class="col-md-3 col-sm-3 col-xs-3">Time Open</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">Trạng thái</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="history in historyOpen">
                                                <td class="col-md-1 col-sm-1 col-xs-1"> {{ $index+1 }} </td>
                                                <td class="col-md-2 col-sm-2 col-xs-2"> {{history.box_id}}</td>
                                                <td class="col-md-2 col-sm-2 col-xs-2"> {{history.cabinet_id}} </td>
                                                <td class="col-md-3 col-sm-3 col-xs-3"> {{history.opencode}} </td>
                                                <td class="col-md-3 col-sm-3 col-xs-3"> {{history.locktime}} </td>
                                                <td class="col-md-1 col-sm-1 col-xs-1"> 
                                                    <div ng-if="history.open_status===1" style="color:red;">Failed</div> 
                                                    <div ng-if="history.open_status===0" style="color:#009966;">Success</div> 
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="6" class="text-center" ng-show="historyOpen.length === 0">
                                                    <p  style="color:red;">Không có lịch sử nào</p>                    
                                                </td>
                                            </tr>
                                        </tfoot>  
                                    </table>
                                    <div align="center">
                                        <uib-pagination class="my-pagination" total-items="totalHistoryOpenBox" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" boundary-link-numbers = "true" force-ellipses="true" items-per-page="totalOpenBoxPerPage" ng-change="loadPageChoose()"></uib-pagination>   
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>  
            </div> 
        </div>        
    </div>    
</div>
<script type="text/javascript">
    var toDay = new Date();
    $("#fromdate").datepicker({
        autoclose: true,
        todayHighlight: true,
        viewMode: "days",
        minViewMode: "days"
    }).datepicker('update', toDay)
            //})
            .on('clearDate', function (e) {
                console.log("clear date");
                var fromDate = "";
                var myScope = angular.element(document.getElementById('wrapper')).scope();
                myScope.fromDate = "";
            })
            .on('changeDate', function (e) {
                //var currDate = new Date(e.date);
                //var dateString = currDate.getFullYear() + "-" + (currDate.getMonth() +1) + "-" + currDate.getDate();
                console.log("change date");
                console.log(e.date);
                var fromDateValue = new Date(e.date);
                var myScope = angular.element(document.getElementById('wrapper')).scope();
                // if (fromDateValue > myScope.toDate) {
                //     $("#fromdate").datepicker('setDate', myScope.fromDate);
                //     return;
                // } else if (fromDateValue === myScope.fromDate) {
                //     return;
                // }

                myScope.fromDate = fromDateValue;

            });


    $("#todate").datepicker({
        autoclose: true,
        todayHighlight: true,
        viewMode: "days",
        minViewMode: "days"
    }).datepicker('update', new Date())
            //})
            .on('clearDate', function (e) {
                var myScope = angular.element(document.getElementById('wrapper')).scope();
                myScope.toDate = "";
            })
            .on('changeDate', function (e) {
                var toDateValue = new Date(e.date);
                var myScope = angular.element(document.getElementById('wrapper')).scope();

                // if (toDateValue < myScope.fromDate) {
                //     $("#todate").datepicker('setDate', myScope.toDate);
                //     return;
                // } else if (toDateValue === myScope.toDate) {
                //     return;
                // }
                myScope.toDate = toDateValue;
            });
</script>